@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

body {
  color: #191919;
  font-family: sans-serif;
  font-size: 22px;
  padding: 0 2px;
  width: 876px;
  -webkit-text-size-adjust : 100%;
  margin: 10px auto;
  background-image: url('./background.jpg');
  background-size:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#tab {
  list-style-type: none;
  height: 44px;
  position: relative;
  width: 876px;

}

#tab li {
  display: block;
  height: 44px;
  position: absolute; 
  top: 0;
}

#tab li:nth-child(1) {
  left: 2px;
  width: 292px;
  z-index: 3;
}

#tab li:nth-child(2) {
  left: 283px;
  width: 310px;
  z-index: 2;
}

#tab li:nth-child(3) {
  right: 2px;
  width: 292px;
  z-index: 1;
}

#tab li.on {
  z-index: 4;
}

#tab li img {
  display: block;
}

#main {
  border-left: 2px #888 solid;
  border-right: 2px #888 solid;
  border-bottom: 2px #888 solid;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 5px 0;
  width: 870px;
  background-color: #FFF;
}

#container {
  /*height: 482px;*/
  margin: 0 auto;
  position: relative;
  width: 870px;
}

.entry {
  border: 2px solid white;
  border-radius: 14px;
  box-shadow: 3px 3px 0 0 #cecccd;
  display: block;
  margin: 0 0 10px 4px;
  width: 850px;
}

.entry-container {
  border: 2px solid #fc6399;
  border-radius: 12px;
  width: 846px;
}

.entry h2.text {
  background-color: #fc6399;
  border-radius: 9px;
  color: white;
  font-size: 32px;
  font-weight: bold;
  height: 57px;
  line-height: 57px;
  margin: 3px;
  overflow: hidden;
  padding: 0 23px;
  white-space: nowrap;
  width: 794px;
}

.entry h2.banner {
  margin: 5px 3px 3px;
  vertical-align: bottom;
  width: 840px;
}

.entry h2.banner img {
  display: block;
}

.entry .summary {
  float: left;
  height: 30px;
  line-height: 30px;
  margin: 3px 3px 3px 31px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 677px;
}

.entry .start-date {
  background-color: #fed4e2;
  border-radius: 7px;
  float: left;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  margin: 3px;
  text-align: center;
  width: 126px;
}

.clearfix {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

#load-next {
  background-color: #fc6399;
  border-radius: 7px;
  box-shadow: 3px 3px 0 0 #cecccd;
  color: white;
  font-size: 22px;
  height: 30px;
  line-height: 30px;
  margin: 10px 4px;
  text-align: center;
  width: 846px;
}

#load-next.tapped:not(.disabled) {
  box-shadow: none;
  margin: 13px 1px 7px 7px;
}

#load-next.disabled {
  background-color: #888888;
}